body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Mando';
  src: local('Mando'), url(./font/mandalorelaserrough.ttf) format('truetype');
}

@font-face {
  font-family: 'Work';
  src: local('Work'), url(./font/WorkSans-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: local('Nuntito'), url(./font/Nunito-VariableFont_wght.ttf) format('truetype');
}